@mixin btn {
  background: none;
  border: none;
  // addera mer basic stuff här
}

@mixin submitBtn($radius: 0, $width: 6.25rem) {
  &.submit {
    @include btn;
    border-radius: $radius;
    width: $width;
  }
}
