@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200&display=swap");

$h1: 2rem;
$h2: 1.8rem;
$h3: 1.4rem;
$h4: 1rem;
$h5: 0.8rem;
$h6: 0.48rem;
$p: 0.75rem;
$font-family: "Titillium Web", sans-serif;
